body {
  background: #F0F0F0;
}
img {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 20%;
  border-radius: 10px;
  background: #FFF;
  margin-bottom: 10px;
  padding: 0.5rem;
}

.grid-item p span {
  font-weight: bold;
}

.grid-item--width2 { width: 40%; }
