<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "/static/mainpage.css?v=4">
    <script src="/static/masonry.pkgd.min.js"></script>
    <script src="/static/imagesloaded.pkgd.min.js"></script>
    <title>Mars Curiosity Rover photos</title>
</head>
<h1>
    Mars Curiosity Rover photos
</h1>
<div>
    <p>
        For more info please refer to <a href="https://api.nasa.gov/">Nasa API page</a> on how to query the rover photos.
    </p>
</div>

<div>
    <label for="cars">Choose a camera:</label>
    <select name="camera" id="camera">
      <option></option>
      <option value='FHAZ'>FHAZ</option>
      <option value='RHAZ'>RHAZ</option>
      <option value='MAST'>MAST</option>
      <option value='CHEMCAM'>CHEMCAM</option>
      <option value='MAHLI'>MAHLI</option>
      <option value='MARDI'>MARDI</option>
      <option value='NAVCAM'>NAVCAM</option>
      <option value='PANCAM'>PANCAM</option>
      <option value='MINITES'>MINITES</option>
    </select>
    <label for="cars">Choose a Martian sol:</label>
    <input type="number" />
    <input type="submit" />
</div>
{% if data %}
    <div class="grid">
        <div class="grid-sizer"></div>
        {% for item in data %}
            <div class="grid-item">
                <img src={{ item.img_src }} />
                <p><span>Acronym: </span>{{ item.camera.name }}</p>
                <p><span>Full name: </span>{{ item.camera.full_name}}</p>
                <p><span>Date: </span>{{ item.earth_date }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
  <h1>No images returned</h1>
{% endif %} 
<script src="/static/mainpage.js"></script>