<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "/static/mainpage.css">
    <script src="/static/masonry.pkgd.min.js"></script>
    <script src="/static/imagesloaded.pkgd.min.js"></script>
</head>
<title>Hello from Flask</title>
{% if data %}
    <div>{{ data }}</div>
    <div class="grid">
        <div class="grid-sizer"></div>
        {% for item in data %}
            <div class="grid-item">
                <p>{{ item.camera.name }}</p>
                <img src={{ item.img_src }} />
            </div>
        {% endfor %}
    </div>
{% else %}
  <h1>Hello, World!</h1>
{% endif %} 
<script src="/static/mainpage.js"></script>